# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
build/
.venv/
dist/
ctcdcode/
.eggs/
*.egg-info/

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyTorch artifacts
*.pt
*.pth

# VS Code
.vscode/

# Data files
*.xml
*.png
*.jpg
*.jpeg
*.bmp

# OS files
.DS_Store
Thumbs.db

# Logs and temporary
*.log
*.tmp
*.bak

# Environment variables
.env
